@font-face {
  font-family: 'Mont';
  src:
    url('@/assets/fonts/Mont-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Mont-Bold.woff') format('woff'),
    url('@/assets/fonts/Mont-Bold.ttf') format('truetype'),
    url('@/assets/fonts/Mont-Bold.eot') format('embedded-opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

html {
  @apply font-sans;
}

body {
  @apply text-copy;
}

@theme {
  --container-csm: 24rem;
}
